:root {
 
  --color-primario: #024d9c;
  --color-secundario: #f5f5f5;
  --color-acento: #b18502;
  --color-texto-oscuro: #212529; 
  --color-texto-claro: #f8f9fa; 
  --color-fondo-principal: #022041;
  --color-fondo-secundario: #2e4063; 
  --gris-claro: #f8f9fa;
  --gris-medio: #adb5bde7;
  --gris-oscuro: #495057;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-fondo-principal); 
    color: var(--color-texto-claro); 
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}
header{
    background: linear-gradient(to right, rgba(2, 32, 65, 1), rgba(255, 255, 255, 0.5));
    text-align: center;
}
#inicio{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;

}
#logo{
    width: 25%;
    max-width: 100px;
    min-width: 50px;
    margin: 0 auto;
}
#titulo{
    width: 70%;
    max-width: 300px;
    min-width: 200px;
    margin: 0 auto;
}
nav{
    position: sticky;
    top: 0;
    background-color: var(--color-fondo-principal);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 1000;
    min-height: 0.15vh;
    padding: 10px 5px;
}
.nav-list{
    display: inline-block;
}
.nav-item{
    display: inline-block;
    margin: 0 15px;
    padding: 5px;
}
.nav-link{
    font-weight: 500;
}
.nav-link:hover{
    color: var(--color-acento);
    font-weight: 900;
    font-size: 1.15rem;
}
.section-card{
    background-color: var(--color-fondo-principal);
    padding: 20px;
    margin: 15px 20px;
    border-radius: 5px;
    position: relative;
}
.section-card::after{
    content: "";
    display: block;
    height: 1px;
    background-color: var(--gris-medio);
    width: 85%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.section-card>p{
    text-align: justify;
}
.card-nosotros{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.card-persona{
    background-color: var(--color-fondo-secundario);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    z-index: 0;
}
.imagen-persona{
    filter: grayscale(100%);
    transition: filter 0.3s;
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card-persona:hover{
    transform: scale(1.125);
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.3);
    filter: grayscale(0%);
    z-index: 2;
}
.card-persona:hover .imagen-persona{
    filter: grayscale(0%);
}
#inicio, #quienessomos, #mision, #vision, #nosotros, #areadepractica, #contacto{
    scroll-margin-top: 30vh;
}
.container-servicios{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px;
    margin-top: 20px;
    justify-content: center;
}

.card-servicio{
    background-color: var(--color-fondo-principal);
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
    text-align: justify;
}
@media (min-width: 768px) {
    .card-servicio:not(:nth-child(2n), :last-child)::after { 
    content: '';
    position: absolute;
    right: -5px;
    top: 10%;
    height: 80%; 
    width: 1px; 
    background-color: var(--gris-medio);
    }
}
@media (min-width: 1024px) {

    .card-servicio:not(:nth-child(4n), :last-child)::after { 
        content: '';
        position: absolute;
        right: -5px; 
        top: 10%;
        height: 80%;
        width: 1px;
        background-color: var(--gris-medio);
    }
}
.section-card#contacto {
    display: grid;
    gap: 30px;
    padding: 40px 20px;
    grid-template-areas: 
        "header header" 
        "contenido mapa";
    grid-template-columns: minmax(350px, 1fr) minmax(350px, 1fr);
}

.section-card#contacto > h2 { 
    grid-area: header;
    text-align: center;
    margin-bottom: 0.5em; 
}

.mensaje-contacto {
    grid-area: header; 
    text-align: center;
    max-width: 800px;
    margin: 0 auto 30px auto;
    font-style: italic;
}

.info-form {
    grid-area: contenido;
    display: flex; 
    flex-direction: column;
}

.map {
    grid-area: mapa;
    min-height: 400px; 
}

@media (max-width: 770px) { 
    .section-card#contacto {
        grid-template-areas: 
            "header" 
            "contenido"
            "mapa";
        grid-template-columns: 1fr;
    }

    .mensaje-contacto {
        margin-bottom: 20px;
    }
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px; 
}

.formulario div:nth-last-child(2), 
.formulario button {
    grid-column: 1 / -1; 
}

.formulario input, 
.formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-telefono {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
}

.form-telefono small {
    display: block; 
    font-size: 0.8em;
    margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair', serif;
    margin-bottom: 0.5rem;
    color: var(--color-acento);
    text-align: center; 
}
h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold
}
h3{
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
}
h4{
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.checklist{
    list-style: inside;
    list-style-type: disc;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.whatsapp-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    
    
    background-color: var(--color-secundario); 
    
    color: var(--color-fondo-principal); 
    font-weight: 600;
    text-decoration: none;
    border-radius: 50%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.whatsapp-button:hover {
    background-color: #A38445; 
    transform: translateY(-2px);
}

.whatsapp-button i {
    margin-right: 0px;
    font-size: 1.5rem;
}
.boton-formulario {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: var(--color-secundario); 
    color: var(--color-fondo-principal); 
    border: 2px solid var(--color-secundario); 
    border-radius: 6px; 
    transition: all 0.3s ease; 
    text-transform: uppercase;
    letter-spacing: 0.05em;
    width: 100%; 
}

.boton-formulario:hover {
    background-color: var(--color-acento); 
    color: var(--color-fondo-principal); 
    border-color: var(--color-acento);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.boton-formulario:active {
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
footer{
    padding: 10px 10px;
    text-align: center;
}